h2.intro {
  font-size: 30px;
  font-style: italic;
  color: green;
  font-weight: bold;
}

p.intro {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  color: purple;
}

.blah {
  float: right;
  border-radius: 10px 10px;
  border-color: blue;
  border-style: solid;
  border-width: thick;
  margin-left: 1em;
  margin-right: 5em;
}

.intro {
  color: red;
}
